* {
  box-sizing: border-box;
}

body {
  display: flex; 
  background: beige;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Segoe UI', 'Quicksand', sans-serif;
}

.bodyNight{
  background-color: #121212;
}

.calculator {
  display: flex;
  background: #ffffff; 
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  overflow: hidden;
  width: 350px;
  height: 490px;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  gap:4px;
}

.calc-header {
  background: transparent;
  height: 40px; 
}

.display {
  display: flex;
  flex: 0 0 80px;
  justify-content: flex-end;
  background: #f1f3f4;
  color: #1e1e1e;
  align-items: center;
  padding: 0 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(175, 175, 175, 0.5);
}

.smallFontSizeDisplay{
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  align-content: flex-start;
}

button {
  flex: 1 0 22%;
  background: #e6e6e6;
  color: #474747;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(175, 175, 175, 0.5);
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #d9d9d9;
}

button:nth-child(4n) {
  background: #32b87d;
}

button:nth-child(4n):hover {
  background: #27a46c;
}

.clear, .sign, .percent{
  background: #f8f8f8;
}

.clear:hover, .sign:hover, .percent:hover{
  background: #eeeeee;
}


.themeChanger{
  width:18%;
  height:7%;
  background: #e6e6e6;
  border-radius: 30px 30px;   
  position: absolute;
  top: 0.7%;
  right:80%;
}
.themeChangerNight{
  background-color: #515151;
}


.slider{
  width: 48%;
  height:92%;
  border-radius: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  margin: 2%;
  background-color: #ffffff;
  border: 1px black;
  background-image:url('../assets/sun.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sliderNight{
  transform: translateX(98%); 
  background-color: #3c3c3c;  
  border: 1px white;
}
.moonPicture{
  background-image: url('../assets/moon1.png');
}


.displayNight{
  background: #121212;
  color: #ffffff
}
.calcNight{
  background: #1e1e1e;
  box-shadow: 0 8px 30px rgba(0, 225, 128, 0.2);
}


.allBtnNight{
  background-color: #3f3f3f;
  color: #ffffff;
}
.allBtnNight:hover{
  background-color: #555555;
}


.instrumentBtnNight{
  background-color: #515151;
}
.instrumentBtnNight:hover{
  background-color: #666666;
}


.operationBtnNight{
  background-color: #55ff77 !important;
  color: #1e1e1e !important;
}

.operationBtnNight:hover{
   background-color: #30c44c !important;
}

.equals{
    flex-grow: 50;
}